<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Python Compiler</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>



</head>
<body>
    <h1> Python Online Compiler </h1>
    <div id="editor"></div>
    <button id="runBtn" onclick="runCode()">Run (ctrl + enter)</button>
    <pre id="output"></pre>
    <script>
        const editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/python");

        async function runCode() {
            const code = editor.getValue();
            const response = await fetch('/execute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ code })
            });

            const result = await response.json();
            document.getElementById('output').textContent = result.output || result.error;
        }
    </script>
    <script src="/static/script.js"></script>
</body>
</html>